<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="true" thread-count="5">
    <test verbose="2" preserve-order="true" name="/Users/shivarajkumar.medeg/Documents/Automation framework/PageObjectModelDemo">
        <classes>
            <class name="testcases.ActionTests">
                <methods>
                    <include name="actionTests"/>
                </methods>
            </class>
            <class name="testcases.LoginPageTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>